<?xml version="1.0" encoding="utf-8" ?>
<root>
  <group groupref="promo" groupname="Promotions" grouptype="1" />
  <group groupref="man" groupname="Manufacturer" grouptype="1" />
  <group groupref="supp" groupname="Supplier" grouptype="1" />
  <group groupref="fea" groupname="Features" grouptype="1" />
  <group groupref="spec" groupname="Specifications" grouptype="1" />
  <group groupref="temp" groupname="Temp" grouptype="1" />
  <group groupref="searchfilter" groupname="Display Search Filter" grouptype="3" />
</root>
