@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq

@{
    var grpcat = (Nevoweb.DNN.NBrightBuy.Components.GroupCategoryData)Model.List.First();
    var depth = grpcat.depth;
}

    <a class="level@(depth) ajaxcatmenu" href="@grpcat.url" catid="@grpcat.categoryid">@grpcat.categoryname</a>
