<?xml version="1.0" encoding="utf-8"?>
<genxml>
  <plugin>

    <genxml>
      <hidden>
        <index datatype="double">0</index>
      </hidden>
      <textbox>
        <ctrl update="save">dashsummary</ctrl>
        <name update="save">Dashboard</name>
        <icon update="save" />
        <group update="save">Dashboard</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/DashSummary.ascx</path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="True" data="Editor">Editor</chk>
          <chk value="True" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">1</index>
      </hidden>
      <textbox>
        <ctrl update="save">products</ctrl>
        <name update="save">Products</name>
        <icon update="save" />
        <group update="save">Catalog</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/Products.ascx </path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="True" data="Editor">Editor</chk>
          <chk value="True" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">2</index>
      </hidden>
      <textbox>
        <ctrl update="save">categories</ctrl>
        <name update="save">Categories</name>
        <icon update="save" />
        <group update="save">Catalog</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/Categories.ascx</path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="True" data="Editor">Editor</chk>
          <chk value="True" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">3</index>
      </hidden>
      <textbox>
        <ctrl update="save">propertiesvalue</ctrl>
        <name update="save">Properties</name>
        <icon update="save" />
        <group update="save">Catalog</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/PropertiesValue.ascx </path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="True" data="Editor">Editor</chk>
          <chk value="True" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">4</index>
      </hidden>
      <textbox>
        <ctrl update="save">orders</ctrl>
        <name update="save">Orders</name>
        <icon update="save" />
        <group update="save">Sales</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/Orders.ascx</path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="False" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">5</index>
      </hidden>
      <textbox>
        <ctrl update="save">clients</ctrl>
        <name update="save">Clients</name>
        <icon update="save" />
        <group update="save">Sales</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/Clients.ascx</path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="False" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">6</index>
      </hidden>
      <textbox>
        <ctrl update="save">export</ctrl>
        <name update="save">Export</name>
        <icon update="save" />
        <group update="save">Utilities</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/Export.ascx </path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="False" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">7</index>
      </hidden>
      <textbox>
        <ctrl update="save">import</ctrl>
        <name update="save">Import</name>
        <icon update="save" />
        <group update="save">Utilities</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/Import.ascx </path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="False" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">8</index>
      </hidden>
      <textbox>
        <ctrl update="save">settings</ctrl>
        <name update="save">Settings</name>
        <icon update="save" />
        <group update="save">Admin</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/Settings.ascx</path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="False" data="Manager">Manager</chk>
          <chk value="False" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">9</index>
      </hidden>
      <textbox>
        <ctrl update="save">plugins</ctrl>
        <name update="save">Plugins</name>
        <icon update="save" />
        <group update="save">Admin</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/Plugins.ascx</path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="False" data="Manager">Manager</chk>
          <chk value="False" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">10</index>
      </hidden>
      <textbox>
        <ctrl update="save">tools</ctrl>
        <name update="save">Tools</name>
        <icon update="save" />
        <group update="save">Admin</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/Tools.ascx</path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="False" data="Manager">Manager</chk>
          <chk value="False" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">11</index>
      </hidden>
      <textbox>
        <ctrl update="save">propertygroups</ctrl>
        <name update="save">Property Groups</name>
        <icon update="save" />
        <group update="save">Admin</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/PropertyGroups.ascx</path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="False" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">12</index>
      </hidden>
      <textbox>
        <ctrl update="save">tax</ctrl>
        <name update="save">Tax</name>
        <icon update="save" />
        <group update="save">Admin</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Providers/TaxProvider/Tax.ascx</path>
        <help update="save" />
        <description update="save" />
        <assembly update="save">NBrightBuy.TaxProvider</assembly>
        <namespaceclass update="save">Nevoweb.DNN.NBrightBuy.Providers.TaxProvider</namespaceclass>
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
        <active update="save">True</active>
      </checkbox>
      <dropdownlist>
        <providertype update="save" selectedtext="Interface utilisateur uniquement">03</providertype>
      </dropdownlist>
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="False" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces>
        <genxml>
          <files />
          <hidden />
          <textbox>
            <assembly>NBrightBuy.TaxProvider</assembly>
            <namespaceclass>Nevoweb.DNN.NBrightBuy.Providers.TaxProvider</namespaceclass>
          </textbox>
          <checkbox>
            <active>True</active>
          </checkbox>
          <dropdownlist>
            <providertype>03</providertype>
          </dropdownlist>
          <checkboxlist />
          <radiobuttonlist />
        </genxml>
      </interfaces>
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">13</index>
      </hidden>
      <textbox>
        <ctrl update="save">manualpayment</ctrl>
        <name update="save">Manual Payment</name>
        <icon update="save" />
        <group update="save">Admin</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Providers/ManualPaymentProvider/ManualPayment.ascx</path>
        <help update="save" />
        <description update="save" />
        <assembly update="save">NBrightBuy.ManualPaymentProvider</assembly>
        <namespaceclass update="save">Nevoweb.DNN.NBrightBuy.Providers.ManualPaymentProvider</namespaceclass>
        <assembly update="save">NBrightBuy.ManualPaymentProvider</assembly>
        <namespaceclass update="save">Nevoweb.DNN.NBrightBuy.Providers.AjaxProvider</namespaceclass>
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
        <active update="save">True</active>
        <active update="save">True</active>
      </checkbox>
      <dropdownlist>
        <providertype update="save" selectedtext="Interface utilisateur uniquement">07</providertype>
        <providertype update="save" selectedtext="Ajax">12</providertype>
      </dropdownlist>
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="False" data="Manager">Manager</chk>
          <chk value="False" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces>
        <genxml>
          <files />
          <hidden />
          <textbox>
            <assembly>NBrightBuy.ManualPaymentProvider</assembly>
            <namespaceclass>Nevoweb.DNN.NBrightBuy.Providers.ManualPaymentProvider</namespaceclass>
          </textbox>
          <checkbox>
            <active>True</active>
          </checkbox>
          <dropdownlist>
            <providertype>07</providertype>
          </dropdownlist>
          <checkboxlist />
          <radiobuttonlist />
        </genxml>
        <genxml>
          <files />
          <hidden />
          <textbox>
            <assembly>NBrightBuy.ManualPaymentProvider</assembly>
            <namespaceclass>Nevoweb.DNN.NBrightBuy.Providers.AjaxProvider</namespaceclass>
          </textbox>
          <checkbox>
            <active>True</active>
          </checkbox>
          <dropdownlist>
            <providertype>12</providertype>
          </dropdownlist>
          <checkboxlist />
          <radiobuttonlist />
        </genxml>
      </interfaces>
    </genxml>        
    <genxml>
      <hidden>
        <index datatype="double">14</index>
      </hidden>
      <textbox>
        <ctrl update="save">addressbook</ctrl>
        <name update="save">Address Book</name>
        <icon update="save" />
        <group update="save">OrdersGrp</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Admin/AddressBook.ascx</path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">True</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="True" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>

    <genxml>
      <hidden>
        <index datatype="double">15</index>
      </hidden>
      <textbox>
        <ctrl update="save">shipping</ctrl>
        <name update="save">Shipping</name>
        <icon update="save" />
        <group update="save">Shipping</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Providers/ShippingProvider/Shipping.ascx</path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="False" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces>
        <genxml>
          <files />
          <hidden />
          <textbox>
            <assembly>NBrightBuy.ShippingProvider</assembly>
            <namespaceclass>Nevoweb.DNN.NBrightBuy.Providers.ShippingProvider</namespaceclass>
          </textbox>
          <checkbox>
            <active>True</active>
            <default>True</default>
          </checkbox>
          <dropdownlist>
            <providertype>02</providertype>
          </dropdownlist>
          <checkboxlist />
          <radiobuttonlist />
        </genxml>
      </interfaces>
    </genxml>
    
    
    <genxml>
      <hidden>
        <index datatype="double">17</index>
      </hidden>
      <textbox>
        <ctrl update="save">vouchers</ctrl>
        <name update="save">Vouchers</name>
        <icon update="save" />
        <group update="save">Promotions</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Providers/PromoProvider/DiscountCodes.ascx</path>
        <help update="save" />
        <description update="save" />
        <assembly update="save">NBrightBuy.DiscountCodesProvider</assembly>
        <namespaceclass update="save">Nevoweb.DNN.NBrightBuy.Providers.DiscountCodesProvider</namespaceclass>
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
        <active update="save">True</active>
      </checkbox>
      <dropdownlist>
        <providertype update="save" selectedtext="Discount">08</providertype>
      </dropdownlist>
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="True" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces>
        <genxml>
          <files />
          <hidden />
          <textbox>
            <assembly>NBrightBuy.DiscountCodesProvider</assembly>
            <namespaceclass>Nevoweb.DNN.NBrightBuy.Providers.DiscountCodesProvider</namespaceclass>
          </textbox>
          <checkbox>
            <active>True</active>
          </checkbox>
          <dropdownlist>
            <providertype>08</providertype>
          </dropdownlist>
          <checkboxlist />
          <radiobuttonlist />
        </genxml>
      </interfaces>
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">18</index>
      </hidden>
      <textbox>
        <ctrl update="save">grouppromo</ctrl>
        <name update="save">Group</name>
        <icon update="save" />
        <group update="save">Promotions</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Providers/PromoProvider/CategoryPromo.ascx</path>
        <help update="save" />
        <description update="save" />
        <assembly update="save">NBrightBuy.PromoProvider</assembly>
        <namespaceclass update="save">Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.GroupPromoScheudler</namespaceclass>
        <assembly update="save">NBrightBuy.PromoProvider</assembly>
        <namespaceclass update="save">Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.MultiBuyPromoScheudler</namespaceclass>
        <assembly update="save">NBrightBuy.PromoProvider</assembly>
        <namespaceclass update="save">Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.CalcPromo</namespaceclass>
        <assembly update="save">NBrightBuy.PromoProvider</assembly>
        <namespaceclass update="save">Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.PromoEvents</namespaceclass>
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
        <active update="save">True</active>
        <active update="save">True</active>
        <active update="save">True</active>
        <active update="save">True</active>
      </checkbox>
      <dropdownlist>
        <providertype update="save" selectedtext="Planificateur">05</providertype>
        <providertype update="save" selectedtext="Planificateur">05</providertype>
        <providertype update="save" selectedtext="Promotions">04</providertype>
        <providertype update="save" selectedtext="Évènements">06</providertype>
      </dropdownlist>
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="True" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces>
        <genxml>
          <files />
          <hidden />
          <textbox>
            <assembly>NBrightBuy.PromoProvider</assembly>
            <namespaceclass>Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.GroupPromoScheudler</namespaceclass>
          </textbox>
          <checkbox>
            <active>True</active>
          </checkbox>
          <dropdownlist>
            <providertype>05</providertype>
          </dropdownlist>
          <checkboxlist />
          <radiobuttonlist />
        </genxml>
        <genxml>
          <files />
          <hidden />
          <textbox>
            <assembly>NBrightBuy.PromoProvider</assembly>
            <namespaceclass>Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.MultiBuyPromoScheudler</namespaceclass>
          </textbox>
          <checkbox>
            <active>True</active>
          </checkbox>
          <dropdownlist>
            <providertype>05</providertype>
          </dropdownlist>
          <checkboxlist />
          <radiobuttonlist />
        </genxml>
        <genxml>
          <files />
          <hidden />
          <textbox>
            <assembly>NBrightBuy.PromoProvider</assembly>
            <namespaceclass>Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.CalcPromo</namespaceclass>
          </textbox>
          <checkbox>
            <active>True</active>
          </checkbox>
          <dropdownlist>
            <providertype>04</providertype>
          </dropdownlist>
          <checkboxlist />
          <radiobuttonlist />
        </genxml>
        <genxml>
          <files />
          <hidden />
          <textbox>
            <assembly>NBrightBuy.PromoProvider</assembly>
            <namespaceclass>Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.PromoEvents</namespaceclass>
          </textbox>
          <checkbox>
            <active>True</active>
          </checkbox>
          <dropdownlist>
            <providertype>06</providertype>
          </dropdownlist>
          <checkboxlist />
          <radiobuttonlist />
        </genxml>
      </interfaces>
    </genxml>
    <genxml>
      <hidden>
        <index datatype="double">19</index>
      </hidden>
      <textbox>
        <ctrl update="save">multibuypromo</ctrl>
        <name update="save">Multi-Buy</name>
        <icon update="save" />
        <group update="save">Promotions</group>
        <path update="save">/DesktopModules/NBright/NBrightBuy/Providers/PromoProvider/MultiBuyPromo.ascx</path>
        <help update="save" />
        <description update="save" />
      </textbox>
      <checkbox>
        <hidden update="save">False</hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist>
        <securityroles update="save">
          <chk value="True" data="Administrators">Administrators</chk>
          <chk value="True" data="Manager">Manager</chk>
          <chk value="True" data="Editor">Editor</chk>
          <chk value="False" data="ClientEditor">ClientEditor</chk>
        </securityroles>
      </checkboxlist>
      <radiobuttonlist />
      <interfaces />
    </genxml>
     
  </plugin>
</genxml>