/* NBS STYLES */

/* Treeview category menu */
.treemenu {border:#eae8e8 solid 1px;padding:20px 24px;}
.expander {display:none;text-align:right;}
.nbrightbuy_catmenu, .nbrightbuy_catmenu ul, .nbrightbuy_catmenu li {list-style:none;}
.nbrightbuy_catmenu ul {padding:0;margin:0;}
.nbrightbuy_catmenu {padding:0;margin:12px 0 0 0;}
.nbrightbuy_catmenu li {line-height:35px;border-bottom:#eae8e8 solid 1px;margin:0;padding:0;}
.nbrightbuy_catmenu li:last-child {border-bottom:none;}
.nbrightbuy_catmenu li li {line-height:24px;border-bottom:none;}
.nbrightbuy_catmenu li ul {margin-bottom:16px;}
.nbrightbuy_catmenu li ul ul {margin-bottom:0;}
.nbrightbuy_catmenu a {display:block;outline:none;text-decoration:none;}
.nbrightbuy_catmenu a:hover {color:#00a3de;}
.nbrightbuy_catmenu a:after {content:"";display:table;clear:both;}
.nbrightbuy_catmenu li.active > a {color:#00a3de;}
.nbrightbuy_catmenu li a {padding:0;font-size:16px;color:#666666;}
.nbrightbuy_catmenu a.level0 {font-weight:700;}
.nbrightbuy_catmenu a.level0:hover {}
.nbrightbuy_catmenu a.level1 {font-weight:700;padding-left:10px;}
.nbrightbuy_catmenu a.level2 {padding-left:20px;}
.nbrightbuy_catmenu a.level3 {padding-left:30px;}
.nbrightbuy_catmenu a.level4 {padding-left:40px;color:red;}
.nbrightbuy_catmenu li > a > span {float:right;margin-right:10px;} /* Caret */
.nbrightbuy_catmenu li > a > span:before {font-family:'FontAwesome';content:"\f067";font-size:14px;color:#00a3de;font-weight:normal;}
.nbrightbuy_catmenu li.open > a > span:before {content:"\f068";}

/* Filters */
.nbs-ajaxfilter {border:#eae8e8 solid 1px;padding:20px 24px;margin:20px 0;}
.nbs-ajaxfilter .h3-headline {margin:20px 0 0 0;}
.nbs-ajaxfilter ul {margin:12px 0 0 0;}
.nbs-ajaxfilter ul li {list-style:none;}
.nbs-ajaxfilter ul li input[type=checkbox] {margin-right:6px;}
/* FontAwesome checkboxes NOT WORKING */
/*.nbs-ajaxfilter ul li input[type=checkbox] {display:none;}
.nbs-ajaxfilter ul li input[type=checkbox] + label:before {font-family:'FontAwesome';display:inline-block;content:"\f096";letter-spacing:10px;}
.nbs-ajaxfilter ul li input[type=checkbox]:checked + label:before {content:"\f046";letter-spacing:5px;}*/

/* Breadcrumbs */
.categorybreadcrumbs {text-align:left;margin-bottom:10px;}
.categorybreadcrumbs ul {list-style:none;display:inline-table;margin:0;}
.categorybreadcrumbs ul li {display:inline;color:#838383;}
.categorybreadcrumbs ul li:after {content:" / ";}
.categorybreadcrumbs ul li:last-child:after {display:none;}
.categorybreadcrumbs ul li a {color:#838383;font-size:14px;text-decoration:none;}
.categorybreadcrumbs ul li a:hover {color:#00a3de;}

/* Product List Header */
.productlistheader {margin-bottom:20px;}
.productlistheader:after {content:"";display:table;clear:both;}
.productsort {float:right;}
.productsort select {border:#ddd solid 1px;height:32px;padding:0 0 0 10px;color:#666;}
.categorydetails {}

/* Product List */
.productlist {}
.productlist:after {content:"";display:table;clear:both;}
.productlist .product {width:24%;margin:0 0.5% 10px;height:335px;background:white;float:left;position:relative;border:#eae8e8 solid 1px;text-align:center;padding:30px 0 0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}
.productlist .product div {text-align:center;}
.productlist .productimg {display:inline-block;width:160px;height:160px;}
.productlist .product div.image {display:table-cell;text-align:center;vertical-align:middle;width:inherit;height:160px;}
.productlist .product div.image img {max-height:160px;}
.productlist .product div.noimage {display:table-cell;text-align:center;vertical-align:middle;width:inherit;font-size:100px;line-height:140px;opacity:0.1;height:160px;}
.productlist .product div.noimage a:link {color:#efefef;}
.productlist .product .description {text-align:center;}
.productlist .product .description h2 {font-size:16px;line-height:normal;font-weight:normal;margin:12px 10px 0 10px;color:#666666;text-transform:none;}
.productlist .product .description h2 a:link, .productlist .product .description h2 a:visited {color:#666666;text-decoration:none;}
.productlist .product .description h2 a:active, .productlist .product .description h2 a:hover {color:#00a3de;text-decoration:none;}
.productlist .product .description h2 span {display:block;color:#00a3de;}
.productlist .product div.price {position:absolute;bottom:18px;left:0;width:100%;font-size:18px;padding:0 5px;color:#222222;font-weight:700;text-align:center;}
.productlist .product .price .from {font-size:12px;}
.productlist .product .price .old {font-size:12px;text-decoration:line-through;}
.productlist .product .price .sale {background:#00a3de;color:white;padding:0 3px;margin-left:3px;}
.productlist .product .price .ttc {margin-left:3px;font-size:14px;}
/* Product Overlay */
.product-overlay {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  z-index: 2;
}
.productlist .product:hover .product-overlay {-webkit-opacity:1;-moz-opacity:1;opacity:1;}

/* Pager */
.NBrightPagingDiv {font-size:14px;font-weight:700;margin:40px 0 0 0;text-align:center;}
.NBrightPagingDiv ul {list-style:none;margin:0;display:inline-block;}
.NBrightPagingDiv ul li {display:inline-block;background:none;padding:0;margin:0 4px 0 0;overflow:visible;}
.NBrightPagingDiv a {background:#F2F2F2;color:#777777 !important;display:inline-block;padding:6px 10px;text-decoration:none;cursor:pointer;}
.NBrightPagingDiv a:hover {background:#00a3de;color:#FFFFFF !important;}
.NBrightPagingDiv ul > a.cmdPg {display:none !important}/* hide pager ears when empty */
.NBrightNormalPg a {}
.NBrightSelectPg a {background:#999;color:#FFFFFF !important;}
.NBrightNextPg a {}
.NBrightPrevPg a {}

/* Featured Product */
.featuredproduct {border:#eae8e8 solid 1px;position:relative;}
.featuredproduct .product {position:relative;padding:40px 12px 40px 80px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.featuredproduct .product:after {content:"";display:table;clear:both;}
.featuredproduct .productimg {display:inline-block;width:400px;height:400px;float:right;}
.featuredproduct .product div.image {display:table-cell;text-align:center;vertical-align:middle;width:inherit;height:400px;}
.featuredproduct .product div.image img {max-height:400px;}
.featuredproduct .product .description {margin:30px 0 0 0;}
.featuredproduct .product .description h1 {line-height:48px;}
.featuredproduct .product .description h1 a:link, .featuredproduct .product .description h1 a:visited {color:#00a3de;text-decoration:none;}
.featuredproduct .product .description h1 a:active, .featuredproduct .product .description h1 a:hover {color:#222;text-decoration:none;}
.featuredproduct .product .description h1 span {display:block;color:#222;font-weight:normal;}
.featuredproduct .product .price {font-size:40px;margin-bottom:20px;color:#222222;}
.featuredproduct .product .price .from {font-size:16px;}
.featuredproduct .product .price .old {text-decoration:line-through;}
.featuredproduct .product .price .sale {background:#757370;color:white;padding:0 3px;margin-left:3px;}
.featuredproduct .product .price .ttc {margin-left:5px;font-size:16px;}

/* Product Carousel */
.carouselproduct {padding:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.carouselproduct:nth-child(odd) {background:#f0f0f0;}
.carouselflex {display:flex;}
.carouselproduct .productimg {width:80px;height:80px;background:white;margin:0 16px 0 0;}
.carouselproduct div.image {display:table-cell;text-align:center;vertical-align:middle;width:inherit;height:80px;}
.carouselproduct div.image img {max-height:80px;}
.carouselproduct .description {flex:1;padding:8px 0 0 0;font-size:14px;line-height:normal;}
.carouselproduct .description a:link, .carouselproduct .description a:visited {color:#666;text-decoration:none;}
.carouselproduct .description a:active, .carouselproduct .description a:hover {color:#00a3de;text-decoration:none;}
.carouselproduct .price {font-size:16px;color:#222222;font-weight:700;line-height:24px;}
.carouselproduct .price .old {text-decoration:line-through;}
.carouselproduct .price .sale {background:#757370;color:white;padding:0 3px;margin-left:3px;}
.carouselproduct .price .ttc {margin-left:3px;font-size:12px;}

/* Product Detail */
.productdetail {overflow:hidden;line-height:normal;}
.productdetail .detailflex {display:flex;}
.productdetail .images .noimage {color:#DDDDDD;font-size:230px;line-height:560px;text-align:center;width:560px;height:560px;}
.productdetail .images {width:560px;margin:0 40px 0 0;}
.productdetail .image {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:#eae8e8 solid 1px;display:table-cell;width:560px;height:560px;text-align:center;vertical-align:middle;position:relative;}
.productdetail .image .zoomWrapper {margin:0 auto;}
.productdetail .image img {max-width:500px;max-height:500px;}
.productdetail ul.gallery {list-style:none;padding:0;margin:12px 0 0 0;}
.productdetail ul.gallery:after {content:"";display:table;clear:both;}
.productdetail .gallery li {float:left;margin:0 5px 5px 0;display:block;width:108px;height:108px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:#eae8e8 solid 1px;}
.productdetail .gallery li a {display:table-cell;width:108px;height:108px;text-align:center;vertical-align:middle;}
.productdetail .gallery li img {max-height:90px;}
.productdetail .gallery li.image5, .productdetail .gallery li.image10 {margin-right:0;}
.productdetail .purchasing {flex:1;overflow:hidden;max-width:560px;}
.productdetail .purchasing .return {float:right;}
.productdetail .purchasing  h1 {color:#00a3de;line-height:48px;margin:0;}
.productdetail .purchasing  h2 {font-size:40px;line-height:48px;font-weight:400;margin:0;}
.productdetail .purchasing .price {font-size:40px;margin-bottom:20px;color:#222222;}
.productdetail .purchasing .price .from {font-size:16px;}
.productdetail .purchasing .price .old {text-decoration:line-through;}
.productdetail .purchasing .price .sale {background:#00a3de;color:white;padding:0 3px;margin-left:3px;}
.productdetail .purchasing .price .ttc {margin-left:5px;font-size:16px;}
.productdetail .purchasing .summary {border-top:#ececec solid 1px;padding:30px 0;color:#888888;line-height:28px;}
.productdetail .purchasing .models {padding:25px 0;border-top:#ececec solid 1px;}
.productdetail .purchasing .models select {border:#ddd solid 1px;height:32px;padding:0 0 0 10px;color:#666;min-width:50%;}
.productdetail .purchasing .options {padding:25px 0;border-top:#ececec solid 1px;}
.productdetail .purchasing .option {}
.productdetail .purchasing .optionname {display:block;color:#888888;margin-bottom:10px;}
.productdetail .purchasing .optionname:after {content:" :";}
.productdetail .purchasing .optionvalue {display:block;}
.productdetail .purchasing .optionvalue select {border:#ddd solid 1px;height:32px;padding:0 0 0 10px;color:#666;min-width:50%;}
.productdetail .purchasing .buy {border-top:#ececec solid 1px;border-bottom:#ececec solid 1px;padding:25px 0;}
.productdetail .purchasing .buy:after {content:"";display:table;clear:both;}
.productdetail .purchasing .buy .outofstock {color:#395876;font-size:12px;font-weight:bold;}
.productdetail .purchasing .buy .holiday {color:#395876;font-size:12px;font-weight:bold;}
.productdetail .purchasing a.addtobasket {margin-right:6px;}
.productdetail .purchasing .properties {color:#888;padding:30px 0 0 0;line-height:28px;}
.quantityoptions {float:left;margin:0 10px 0 40px;}
.quantityoptions a {display:block;float:left;width:38px;height:38px;background:white;color:#aaaaaa;font-size:14px;text-decoration:none;line-height:38px;text-align:center;border:#dfdddd solid 1px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.quantityoptions a:hover {text-decoration:none;background:#aaaaaa;color:white;}
.quantityoptions input {text-align:center;outline:none;background:#f4f4f4;border:none;border-top:#dfdddd solid 1px;border-bottom:#dfdddd solid 1px;font-size:16px;font-weight:700;width:36px !important;height:38px;line-height:42px;margin:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input.quantity {float:left;}
.productdetail .details {clear:both;padding:40px 0;}
.buybuttonhide {display:none;}

/* Details Tabs */
.productdetail .nav-tabs {margin:0;padding:0;border-top:#eaeaea solid 1px;border-bottom:#eaeaea solid 1px;}
.productdetail .nav-tabs:after {content:"";display:table;clear:both;}
.productdetail .nav-tabs li {display:block;float:left;margin-right:1px;font-size:18px;font-weight:900;text-transform:uppercase;}
.productdetail .nav-tabs li a {display:block;color:#666666;text-decoration:none;padding:10px 25px;}
.productdetail .nav-tabs li a:hover {color:#222;}
.productdetail .nav-tabs li.tab-active a {background:#00a3de;color:white;}
.productdetail .tab-content {clear:both;padding:40px 0 0 0;display:none;}
.productdetail .tab-content.tab-active {display:block;}
.productdetail .tab-content.tab-hide {display:none;}

/* Models Table */
.productdetail .details .models {}
.productdetail .details .models table {border-collapse:collapse;border-spacing:0;width:100%;margin:0px;padding:0px;}
.productdetail .details .models tr {color:#666;white-space:nowrap;}
.productdetail .details .models td {padding:20px;border:#e5e5e5 solid 1px;}
.productdetail .details .models td.models-option {padding:20px 40px;font-weight:bold;}
.productdetail .details .models td.models-value {width:100%;}
.productdetail .details .models td .old {text-decoration:line-through;}

/* Document Downloads */
.productdetail .details .documents {}
.productdetail .details .documents table {border-collapse:collapse;border-spacing:0;width:100%;margin:0px;padding:0px;}
.productdetail .details .documents td {padding:20px;border:#e5e5e5 solid 1px;}
.productdetail .details .documents td i.fa {color:#666;margin-right:8px;}
.productdetail .details .documents td a {font-weight:bold;}

/* Related Items */
#relatedwrapper {margin-top:20px;}
#relatedwrapper .image {border:none;}
#relatedwrapper .product {width:19%;margin:0 0.5% 10px;}

/* Shopping List */
a.shoppinglistadd i.fa, a.shoppinglistremove i.fa {margin-right:0 !important;}
.productlist .product a.shoppinglistadd, .productlist .product a.shoppinglistremove {position:absolute;top:10px;right:10px;}
.shoppinglistpopup {}
.slp-header {background:#f0f0f0;padding:0 20px;font-size:16px;line-height:50px;font-weight:700;color:#666;text-transform:uppercase;}
.slp-content {padding:20px;}
.slp-ddl {padding:20px 0;}
.slp-ddl select {border:#ddd solid 1px;height:32px;padding:0 0 0 10px;color:#666;}
.newlistdiv input {border:#ddd solid 1px;height:32px;padding:0 10px;color:#666;margin-bottom:12px;}
.newlistdiv a.actionbutton {margin-right:6px;}

/* Flags */
.flags {position:absolute;top:5%;left:0;}
.flags span {display:block;font-size:12px;font-weight:bold;line-height:24px;padding:0 9px;color:white;margin:0 0 5px 0;}
.flags span:after {border-style:solid;border-width:12px 7px;content:" ";right:-7px;position:absolute;}
span.onsaleflag {background:#00a3de;}
span.onsaleflag:after {border-color:#00a3de transparent #00a3de #00a3de;}
span.outofstockflag {background:#395876;}
span.outofstockflag:after {border-color:#395876 transparent #395876 #395876;}
.addedtobasket {position:fixed;top:0;left:0;width:100%;height:72px;line-height:72px;z-index:9999;text-align:center;background:#e5f6fe;font-size:22px;font-weight:600;}

/* Classic buttons */
a.classicbutton:link, a.classicbutton:visited {text-decoration:none;color:#666666;display:inline-block;font-size:14px;line-height:32px;padding:0 12px;border:#dddddd solid 1px;}
a.classicbutton:active, a.classicbutton:hover {text-decoration:none;background-color:#757370;color:white;}
/* NEW ClassicAjax */
a.actionbutton:link, a.actionbutton:visited {background:#00a3de;color:white;display:inline-block;font-size:14px;font-weight:900;text-transform:uppercase;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;line-height:36px;padding:0 10px;text-decoration:none;}
a.actionbutton:active, a.actionbutton:hover {background:#222;color:white;}
a.absec:link, a.absec:visited {background:#f1f1f1;color:#888888;}
a.absec:active, a.absec:hover {background:#222;color:white;}
a.actionbutton i.fa {font-weight:normal;font-size:16px;margin-right:5px;}

/**********************************************************/
/* MEDIA QUERIES */
/**********************************************************/
/* for less than 1280px */
@media screen and (max-width:1280px) {
/* Product List */
.productlist .product {width:32.33%;margin:0 0.5% 10px;}
}
/* for 640px and less */
@media all and (max-width:640px),
            screen and (-webkit-min-device-pixel-ratio: 3.0) and (max-width: 1920px),
            screen and (-webkit-min-device-pixel-ratio: 2.0) and (max-width: 1280px) {
/* Product List */
.productlist .product {width:49%;margin:0 0.5% 10px;}
/* Product Detail */
.productdetail .detailflex {display:block;}
.productdetail .images .noimage {line-height:normal;width:auto;height:auto;}
.productdetail .images {width:auto;margin:0 0 40px 0;}
.productdetail .image {width:auto;height:auto;padding:20px;}
.productdetail .gallery li.image5, .productdetail .gallery li.image10 {margin:0 5px 5px 0;}
.productdetail .purchasing {flex:initial;overflow:visible;}
.productdetail .purchasing .return {float:none;margin:0 0 20px 0;}
.quantityoptions {margin:0 10px 0 0;}
/* Models Table */
.productdetail .details .models tr {display:block;padding:20px 0;border-bottom:#e5e5e5 solid 1px;}
.productdetail .details .models td {padding:0;border:none;display:block;}
.productdetail .details .models td.models-option {padding:0;}
/* Featured Product */
.featuredproduct .product {padding:20px;}
.featuredproduct .productimg {display:block;width:160px;height:160px;float:none;}
.featuredproduct .product div.image {height:160px;}
.featuredproduct .product div.image img {max-height:160px;}
.featuredproduct .product .description {margin:20px 0 0 0;}
}

/* for 480px and less */
@media all and (max-width:480px),
            screen and (-webkit-min-device-pixel-ratio: 3.0) and (max-width: 1140px),
            screen and (-webkit-min-device-pixel-ratio: 2.0) and (max-width: 960px) {
/* Product List */
.productlist .product {width:100%;margin:0 0 10px;}
}
